.chat-body {
  background-color: #abc1d1;
}
.chat-header h1 {
  margin-left: 75px;
}

.s1-chat-day {
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1-chat-day__lastday {
  background-color: gray;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.8;
  color: white;
  font-size: 12px;
}

.s2-chat-area__friend,
.s2-chat-area__me-talk {
  margin: 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.s2-chat-area__friend-photo {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.s2-chat-area__friend-talk {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.s2-chat-area__friend-talk-name {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  color: gray;
}

.s2-chat-area__friend-talk-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.s2-chat-area__friend-talk-content-word {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.s2-chat-area__friend-talk-content-date {
  font-size: 10px;
  margin: 10px 0px 0px 5px;
  color: gray;
}

.s2-chat-area__me-talk {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.s2-chat-area__me-talk-content-word {
  background-color: #fee500;
  padding: 5px;
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.s2-chat-area__me-talk-content-date {
  font-size: 10px;
  margin: 10px 5px 0px 0px;
  color: gray;
}

/* 강사님, 수업시간에 만들었던 것입니다. 변명하지 않겠습니다..*/
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply i {
  opacity: 0.5;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 90vw;
  transform: translateX(-13%) translateY(-80px);
  border: 5px solid red;
  outline: none;
}

.reply:focus-within {
  transform: translateY(80px);
}

/* Animation */
@keyframes chatappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.s2-chat-area {
  opacity: 0;
  animation: chatappear 0.5s ease-in-out forwards;
}

.chat-main section:nth-child(2) {
  animation-delay: 1s;
}
.chat-main section:nth-child(3) {
  animation-delay: 2s;
}
.chat-main section:nth-child(4) {
  animation-delay: 3s;
}

.chat-main section:nth-child(5) {
  animation-delay: 4s;
}
